<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="../styles/style.css">
    <title>Заключение</title>
</head>
<body>
    <header>
        <nav class="nav">
            <span class="nav__line"></span>
            <ul class="nav__list">
                <li class="nav__item"><a href="../index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="introduction.html" class="nav__link">Введение</a></li>
                <li class="nav__item"><a href="history.html" class="nav__link">История</a></li>
                <li class="nav__item"><a href="structure.html" class="nav__link">Структура</a></li>
                <li class="nav__item"><a href="prospects.html" class="nav__link">Перспективы развития</a></li>
                <li class="nav__item"><a href="conclusion.html" class="nav__link">Заключение</a></li>
                <li class="nav__item"><a href="literature.html" class="nav__link">Список литературы</a></li>
                <li class="nav__item"><a href="author.html" class="nav__link">Об авторе</a></li>
            </ul>
        </nav>
    </header>

    <h2 align="center">Заключение</h2>
    
    <div class="text-main">
        <p class="text">
            В заключение, Интернет вещей (IoT) представляет собой одну из самых инновационных и перспективных технологий нашего времени. Связанные устройства, 
            сенсоры и программное обеспечение в сети позволяют собирать, обрабатывать и анализировать огромные объемы данных в реальном времени. 
        </p>    
    </div>

    <div class="text-main">
        <p class="text">
            IoT имеет широкий спектр применений: от умного дома и города до промышленных систем и здравоохранения. 
            С помощью IoT возможно автоматизировать и оптимизировать множество процессов, повысить эффективность и улучшить качество жизни людей.
        </p>    
    </div>

    <div class="text-main">
        <p class="text">
            IoT обещает изменить наш мир, предоставляя нам новые возможности и приводя к эффективным и инновационным решениям. 
            Он уже стал неотъемлемой частью нашей повседневной жизни, и в будущем его влияние только увеличится. 
            Поэтому, важно продолжать исследования, разработки и инвестиции для дальнейшего развития Интернета вещей.
        </p>    
    </div>

    <footer> © Dmitry Shchegolev, 2023</footer>
    <script src="../scripts/script.js"></script>
</body>
</html>