<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="../styles/style.css">
    <title>История</title>
</head>
<body>
    <header>
        <nav class="nav">
            <span class="nav__line"></span>
            <ul class="nav__list">
                <li class="nav__item"><a href="../index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="introduction.html" class="nav__link">Введение</a></li>
                <li class="nav__item"><a href="history.html" class="nav__link">История</a></li>
                <li class="nav__item"><a href="structure.html" class="nav__link">Структура</a></li>
                <li class="nav__item"><a href="prospects.html" class="nav__link">Перспективы развития</a></li>
                <li class="nav__item"><a href="conclusion.html" class="nav__link">Заключение</a></li>
                <li class="nav__item"><a href="literature.html" class="nav__link">Список литературы</a></li>
                <li class="nav__item"><a href="author.html" class="nav__link">Об авторе</a></li>
            </ul>
        </nav>
    </header>

    <h2 align="center">История</h2>

    <div class="text-main">
        <p class="text">
            История Интернета вещей (IoT) насчитывает несколько десятилетий, причем эта концепция развивалась по 
            мере совершенствования технологий и возможностей подключения. 
            Ниже приведен краткий обзор основных вех в истории Интернета вещей:
        </p>

        <p class="text">
            <b>Ранние концепции (конец XIX - начало XX века):</b> Концепцию взаимосвязанных устройств можно отнести к концу XIX - началу XX века. 
            Идея Николы Теслы о "мировой системе" беспроводной связи, а затем идея Ванневара Буша о "мемексе" в 1930-х годах заложили теоретические основы сети взаимосвязанных устройств и информации. 
        </p>

        <p class="text">
            <b> Первый торговый автомат (начало 1980-х годов):</b> Первым устройством, подключенным к Интернету и напоминающим IoT, 
            стал торговый автомат Coca-Cola, установленный в Университете Карнеги-Меллона в начале 1980-х годов. 
            Автомат мог сообщать о своих запасах и о том, остыли ли только что загруженные напитки.
        </p>

        <p class="text">
            <b>Термин "Интернет вещей" (1999 г.):</b> Термин "Интернет вещей" был придуман британским предпринимателем Кевином 
            Эштоном во время работы в компании Procter & Gamble. Эштон использовал этот термин для описания системы, 
            в которой Интернет может быть использован для подключения объектов с RFID-метками к Интернету, что позволит им общаться 
            и обмениваться данными.
        </p>

        <p class="text">
            <b>RFID и сенсорные технологии (начало 2000-х годов):</b>
            Развитие технологий радиочастотной идентификации (RFID) и сенсорных устройств открыло путь к практическому применению IoT. 
            RFID-метки и датчики стали более доступными и получили широкое распространение, что позволило отслеживать, 
            контролировать и управлять объектами и средой.
        </p>

        <p class="text">
            <b>Стандартизация IPv6 (конец 1990-х - начало 2000-х годов):</b> 
            Широкое распространение протокола IPv6 с его значительно расширенным адресным пространством стало важнейшим фактором, 
            способствующим развитию IoT. Он обеспечил возможность присвоения уникальных IP-адресов огромному количеству устройств, 
            что было необходимо для распространения IoT.
        </p>

        <p class="text">
            <b>Консорциумы и альянсы IoT (начало 2000-х годов):</b> Началось формирование различных организаций, 
            органов стандартизации и отраслевых альянсов, ориентированных на IoT, для совместной работы по определению стандартов и протоколов для IoT. 
            В качестве примера можно привести IPSO Alliance, OASIS и Industrial Internet Consortium (IIC).
        </p>

        <p class="text">
            <b>Умные дома и носимые устройства (середина 2000-х годов):</b> Середина 2000-х годов ознаменовалась появлением устройств 
            для "умного дома" и носимых устройств. Такие продукты, как "умные" термостаты, подключенная бытовая техника, фитнес-трекеры и "умные" часы, 
            получили широкое распространение, продемонстрировав потенциал IoT в улучшении повседневной жизни.
        </p>

        <p class="text">
            <b>Индустрия 4.0 и IoT в производстве (2010-е годы):</b> Индустрия 4.0 стала одним из важных направлений применения IoT, 
            в рамках которого технологии IoT интегрируются в производственные процессы, создавая "умные фабрики". 
            Датчики и автоматизация с использованием IoT значительно повысили эффективность, улучшили процессы производства и обслуживания.
        </p>

        <p class="text">
            <b>Экспансия в различные отрасли (2010-е - настоящее время):</b> В 2010-е и последующие годы приложения IoT распространились на 
            различные отрасли, включая здравоохранение (удаленный мониторинг пациентов), сельское хозяйство (точное земледелие), транспорт 
            (умные автомобили), розничную торговлю (умные полки) и градостроительство (умные города). 
            Потенциал IoT для решения реальных задач стал более очевидным.
        </p>

        <p class="text">
            <b>Текущее и будущее развитие (2020-е годы и далее):</b> Рост IoT продолжает ускоряться благодаря развитию технологий 5G, 
            пограничных вычислений, искусственного интеллекта и продолжающейся миниатюризации устройств. 
            В будущем ожидается усиление мер безопасности, более широкое внедрение IoT в критически важную инфраструктуру, приложения, 
            ориентированные на устойчивое развитие, и дальнейшая интеграция в нашу повседневную жизнь.
        </p>
    </div>

    <footer> © Dmitry Shchegolev, 2023</footer>
    <script src="../scripts/script.js"></script>
</body>
</html>