<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="../styles/style.css">
    <title>Введение</title>
</head>
<body>
    <header>
        <nav class="nav">
            <span class="nav__line"></span>
            <ul class="nav__list">
                <li class="nav__item"><a href="../index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="introduction.html" class="nav__link">Введение</a></li>
                <li class="nav__item"><a href="history.html" class="nav__link">История</a></li>
                <li class="nav__item"><a href="structure.html" class="nav__link">Структура</a></li>
                <li class="nav__item"><a href="prospects.html" class="nav__link">Перспективы развития</a></li>
                <li class="nav__item"><a href="conclusion.html" class="nav__link">Заключение</a></li>
                <li class="nav__item"><a href="literature.html" class="nav__link">Список литературы</a></li>
                <li class="nav__item"><a href="author.html" class="nav__link">Об авторе</a></li>
            </ul>
        </nav>
    </header>

    <h2 align="center">Введение</h2>

    <div class="text-main">
        <p class="text">
            Интернет вещей (IoT) - это сеть взаимосвязанных устройств, объектов и систем, оснащенных датчиками, 
            программным обеспечением и возможностями подключения, позволяющими им собирать данные и обмениваться ими через Интернет. 
            Эти устройства могут взаимодействовать друг с другом, анализировать данные и принимать обоснованные решения без вмешательства человека. Основная цель IoT - повышение эффективности, производительности и 
            качества принимаемых решений путем предоставления информации в режиме реального времени и автоматизации.
        </p>
    </div>
    <div class="text-main">
        <p class="text">
            IoT находит широкое применение в различных отраслях, включая:
        </p>

        <p class="text">
            <b>Умные дома:</b> IoT позволяет автоматизировать и контролировать такие домашние устройства, как освещение, системы безопасности, 
            термостаты и развлекательные системы, что повышает удобство и энергоэффективность.
        </p>

        <p><img src="../imgs/smart_home.png" style="width: 550px;" title="Концепция умного дома"></p>

        <p class="text">
            <b>Здравоохранение:</b> IoT используется для удаленного мониторинга состояния пациентов, 
            отслеживания медицинского оборудования и оптимизации процессов в здравоохранении с целью улучшения качества обслуживания пациентов и повышения результативности лечения.
        </p>

        <p class="text">
            <b>Промышленность и производство (Индустрия 4.0):</b> IoT используется для оптимизации производственных процессов, 
            мониторинга состояния оборудования, прогнозирования потребностей в техническом обслуживании и 
            повышения общей операционной эффективности.

        </p>

        <p class="text">
            <b>Умные города:</b> IoT используется в городском планировании, управлении дорожным движением, утилизации отходов, 
            энергоэффективности и общественной безопасности для создания устойчивой и эффективной городской среды.
        </p>

        <p><img src="../imgs/smart_city.png" style="width: 550px;" title="Концепция умного города"></p>

        <p class="text">
            <b>Транспорт:</b> IoT интегрируется в транспортные средства для мониторинга и обслуживания в режиме реального времени, 
            оптимизации транспортных потоков и создания возможностей для автономных транспортных средств.
        </p>
    </div>

    <footer> © Dmitry Shchegolev, 2023</footer>
    <script src="../scripts/script.js"></script>
</body>
</html>