<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="../styles/style.css">
    <title>Перспективы развития</title>
</head>
<body>
    <header>
        <nav class="nav">
            <span class="nav__line"></span>
            <ul class="nav__list">
                <li class="nav__item"><a href="../index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="introduction.html" class="nav__link">Введение</a></li>
                <li class="nav__item"><a href="history.html" class="nav__link">История</a></li>
                <li class="nav__item"><a href="structure.html" class="nav__link">Структура</a></li>
                <li class="nav__item"><a href="prospects.html" class="nav__link">Перспективы развития</a></li>
                <li class="nav__item"><a href="conclusion.html" class="nav__link">Заключение</a></li>
                <li class="nav__item"><a href="literature.html" class="nav__link">Список литературы</a></li>
                <li class="nav__item"><a href="author.html" class="nav__link">Об авторе</a></li>
            </ul>
        </nav>
    </header>

    <h2 align="center">Перспективы развития</h2>

    <div class="text-main">
        <p class="text">
            Перспективы развития Интернета вещей (IoT) невероятно многообещающи, 
            они обладают трансформационным потенциалом в различных отраслях и кардинально меняют наши представления о жизни, 
            работе и взаимодействии с технологиями. Вот некоторые ключевые перспективы развития Интернета вещей:
        </p>

        <p class="text">
            1. Расширение возможностей подключения и интеграции: Ожидается, что IoT будет способствовать 
            еще большему расширению возможностей взаимодействия не только между устройствами и машинами, 
            но и между различными экосистемами и платформами. 
            Бесшовная интеграция различных устройств IoT обеспечит всесторонний обмен данными и сотрудничество, 
            что приведет к созданию более эффективного и взаимосвязанного мира.
        </p>

        <p class="text">
            2. Достижения в области искусственного интеллекта (ИИ) и машинного обучения: 
            Интеграция искусственного интеллекта и машинного обучения с IoT значительно расширит возможности устройств. 
            Интеллектуальные алгоритмы будут анализировать огромный объем данных, генерируемых IoT-устройствами, предоставляя полезные сведения, 
            предсказывая закономерности и обеспечивая автоматизацию и принятие интеллектуальных решений.
        </p>

        <p class="text">
            3. Индустрия 4.0 и "умное производство": Благодаря внедрению IoT промышленный сектор претерпит значительные изменения, 
            что приведет к созданию "умных" заводов и эффективных цепочек поставок. Датчики и устройства 
            с поддержкой IoT позволят оптимизировать производственные процессы, контролировать состояние оборудования, 
            повысить общую производительность и снизить операционные расходы.
        </p>

        <p class="text">
            4. Умные города и устойчивое развитие: IoT сыграет решающую роль в создании "умных" городов с повышенной устойчивостью и эффективностью. 
            Решения на базе IoT позволят оптимизировать энергопотребление, 
            улучшить транспортные системы, повысить эффективность утилизации отходов и улучшить городское планирование для создания более удобных для жизни и экологически чистых городов.
        </p>

        <p class="text">
            5. Инновации в здравоохранении и удаленный мониторинг пациентов: IoT способна произвести революцию в здравоохранении, 
            обеспечив удаленный мониторинг состояния пациентов, персонализированное лечение и предиктивное здравоохранение. 
            Носимые устройства и подключенное медицинское оборудование будут способствовать мониторингу в реальном времени, 
            раннему обнаружению проблем со здоровьем и своевременному вмешательству, что в конечном итоге улучшит результаты лечения пациентов.
        </p>

    </div>


<div class="text-lit">
    <table class="table">
        <caption>Топ-10 наиболее перспективных технологий Интернета вещей в 2023 г.</caption>
            <thead>
                <tr>
                  <th>Ранг</th>
                  <th>Технологии</th>
                  <th>Индекс значимости</th>
                  <th>Уровень динамичности</th>
                  <th>Сроки массового внедрения</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Интернет медицинских вещей (IoMT)</td>
                    <td>1.00</td>
                    <td>Быстрорастущие</td>
                    <td>3 - 5 лет</td>
                </tr>
                
                <tr>
                    <td>2</td>
                    <td>Туманные вычисления и облачный Интернет вещей</td>
                    <td>0.97</td>
                    <td>Стабильные</td>
                    <td>1 - 2 года</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Мобильный Интернет вещей</td>
                    <td>0.81</td>
                    <td>Стабильные</td>
                    <td>1 - 2 года</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Искусственный интеллект вещей (AIoT)</td>
                    <td>0.70</td>
                    <td>Быстрорастущие</td>
                    <td>3 - 5 лет</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Интернет вещей для умного города / дома</td>
                    <td>0.58</td>
                    <td>Стабильные</td>
                    <td>1 - 2 года</td>
                </tr>

                <tr>
                    <td>6</td>
                    <td>Интернет робототехнических вещей (IoRT)</td>
                    <td>0.23</td>
                    <td>Стабильные</td>
                    <td>3 - 5 лет</td>
                </tr>

                <tr>
                    <td>7</td>
                    <td>Спутниковый Интернет вещей</td>
                    <td>0.21</td>
                    <td>Быстрорастущие</td>
                    <td>4 - 6 лет</td>
                </tr>

                <tr>
                    <td>8</td>
                    <td>Носимый Интернет вещей</td>
                    <td>0.16</td>
                    <td>Стабильные</td>
                    <td>3 - 5 лет</td>
                </tr>

                <tr>
                    <td>9</td>
                    <td>Интеграция Интернета вещей и периферийных устройств</td>
                    <td>0.12</td>
                    <td>Растущие </td>
                    <td>1 - 2 года</td>
                </tr>

                <tr>
                    <td>10</td>
                    <td>Интернет вещей на транспорте</td>
                    <td>0.9</td>
                    <td>Растущие </td>
                    <td>1 - 2 года</td>
                </tr>

            </tbody>
    </table>
</div>
    <footer> © Dmitry Shchegolev, 2023</footer>
    <script src="../scripts/script.js"></script>
</body>
</html>