<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="../styles/style.css">
    <title>Структура</title>
</head>
<body>
    <header>
        <nav class="nav">
            <span class="nav__line"></span>
            <ul class="nav__list">
                <li class="nav__item"><a href="../index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="introduction.html" class="nav__link">Введение</a></li>
                <li class="nav__item"><a href="history.html" class="nav__link">История</a></li>
                <li class="nav__item"><a href="structure.html" class="nav__link">Структура</a></li>
                <li class="nav__item"><a href="prospects.html" class="nav__link">Перспективы развития</a></li>
                <li class="nav__item"><a href="conclusion.html" class="nav__link">Заключение</a></li>
                <li class="nav__item"><a href="literature.html" class="nav__link">Список литературы</a></li>
                <li class="nav__item"><a href="author.html" class="nav__link">Об авторе</a></li>
            </ul>
        </nav>
    </header>

    <h2 align="center">Структура</h2>

    <div class="text-main">
        <p class="text">
            1. Устройства и сенсоры: это физические объекты, которые могут быть подключены к Интернету. 
            Они собирают данные из окружающей среды или выполняют действия на основе полученной информации.
        </p>
    </div>

    <div class="text-main">
        <p class="text">
            2. Сети передачи данных: это сети, которые обеспечивают связь между устройствами IoT и передачу данных. 
            Это может быть проводное или беспроводное соединение, такое как Wi-Fi, Bluetooth, сотовые сети и другие.
        </p>
    </div>

    <div class="text-main">
        <p class="text">
            3. Облачные платформы: это инфраструктура для хранения, обработки и анализа данных, собранных с устройств IoT. 
            Облачные платформы предоставляют средства для управления устройствами, аналитики и взаимодействия с данными.
        </p>
    </div>

    <div class="text-main">
        <p class="text">
            4. Пользовательские приложения: это программное обеспечение, 
            которое позволяет пользователям взаимодействовать с устройствами IoT и получать информацию или выполнять действия на основе данных, собранных устройствами.
        </p>
    </div>
    <footer> © Dmitry Shchegolev, 2023</footer>
    <script src="../scripts/script.js"></script>
</body>
</html>