<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="../styles/style.css">
    <title>Структура</title>
</head>
<body>
    <header>
        <nav class="nav">
            <span class="nav__line"></span>
            <ul class="nav__list">
                <li class="nav__item"><a href="../index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="introduction.html" class="nav__link">Введение</a></li>
                <li class="nav__item"><a href="history.html" class="nav__link">История</a></li>
                <li class="nav__item"><a href="structure.html" class="nav__link">Структура</a></li>
                <li class="nav__item"><a href="prospects.html" class="nav__link">Перспективы развития</a></li>
                <li class="nav__item"><a href="conclusion.html" class="nav__link">Заключение</a></li>
                <li class="nav__item"><a href="literature.html" class="nav__link">Список литературы</a></li>
                <li class="nav__item"><a href="author.html" class="nav__link">Об авторе</a></li>
            </ul>
        </nav>
    </header>

    <h2 align="center">Структура</h2>

    <div class="text-main">
        <p class="text">
            Структура системы IoT (Internet of Things) включает в себя различные взаимосвязанные компоненты, 
            которые взаимодействуют между собой, обеспечивая связь, обработку данных и выполнение действий. Вот типичная структура IoT-системы:
        </p>
        <p class="text">
            <b>Устройства и датчики:</b> В основе структуры IoT лежат физические устройства и датчики. 
            Это могут быть самые разные объекты, такие как датчики, исполнительные механизмы, носимые устройства, 
            промышленное оборудование, бытовая электроника и т.д. Устройства собирают данные из окружающей среды или выполняют действия на основе полученных инструкций.
        </p>
        <p class="text">
            <b>Подключаемость:</b> IoT-устройства подключаются к Интернету или локальным сетям с помощью различных протоколов связи, 
            таких как Wi-Fi, Bluetooth, Zigbee, LoRa, сотовые сети (2G, 3G, 4G, 5G) и др. 
            Такое подключение позволяет устройствам передавать данные на централизованные платформы для обработки и анализа.
        </p>
        <p class="text">
            <b>Шлюзы:</b> Шлюзы выступают в роли посредников между IoT-устройствами и облаком или центральным сервером. 
            Они агрегируют данные с нескольких устройств, выполняют предварительную обработку, фильтрацию и шифрование, 
            а затем передают уточненные данные в облако. Шлюзы особенно важны в сценариях с большим количеством устройств с различными протоколами связи.
        </p>
        <p class="text">
            <b>Облачная инфраструктура:</b> Облако является центральным компонентом большинства архитектур IoT.
            Она включает в себя серверы и базы данных, в которых хранятся, обрабатываются и анализируются данные, 
            поступающие от устройств и шлюзов. Облачные платформы обеспечивают масштабируемость, 
            обработку данных в реальном времени и расширенные возможности аналитики.
        </p>
        <p class="text">
            <b>IoT-платформа:</b> IoT-платформа служит промежуточным программным обеспечением, 
            обеспечивающим связь между устройствами, шлюзами и облаком. Она управляет соединениями между устройствами, 
            обрабатывает данные, предоставляет функции управления устройствами и API для разработки приложений. 
            IoT-платформы также могут включать средства безопасности, обеспечивающие конфиденциальность и целостность данных.
        </p>
        <p class="text">
            <b>Обработка данных и аналитика:</b> В облачной инфраструктуре данные обрабатываются и анализируются для получения ценных сведений. 
            Для более глубокого понимания, выявления закономерностей, прогнозирования тенденций и принятия решений на основе данных могут применяться передовая аналитика, 
            алгоритмы машинного обучения и методы искусственного интеллекта.
        </p>
        <p class="text">
            <b>Интеграция с внешними системами:</b> Системы IoT часто нуждаются в интеграции с внешними системами, 
            такими как системы планирования ресурсов предприятия (ERP), системы управления взаимоотношениями с клиентами (CRM) или другие платформы сторонних производителей.
            Такая интеграция позволяет обеспечить беспрепятственный обмен данными и скоординировать действия различных систем.
        </p>

    </div>

    
    <footer> © Dmitry Shchegolev, 2023</footer>
    <script src="../scripts/script.js"></script>
</body>
</html>