header {
	font-family: "Arial", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;

}

.text-center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
  
.centered {
	font-family: "Arial", sans-serif;
	text-align: center;
}

/*
body {
    background: url('../imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.text-author{
	font-family: "Arial", sans-serif;
	border: 1px solid #ccc;
	padding: 20px;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}
.text-lit{
	font-family: "Arial", sans-serif;
	border: 1px solid #ccc;
	padding: 10px;
	text-indent: 1.5em;
	text-align: justify;
	max-width: 900px;
	margin: 0 auto;

}
.text-main {
	font-family: "Arial", sans-serif;
	border: 1px solid #ccc;
	padding: 20px;
	line-height: 35px;
	text-indent: 1.5em;
	text-align: justify;
	max-width: 600px;
	margin: 0 auto;
  }
  
.text {
	font-size: 16px;
  }


.nav {
	position: relative;
}

.nav__list {
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav__line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20px;
	height: 1px;
	background-color: #000;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.nav__item:not(:last-child) {
	margin-right: 20px;
}

.nav__link {
	font-family: "Arial", sans-serif;
	text-decoration: none;
	color: #000;
}

footer {
	font-family: "Arial", sans-serif;
	position: absolute;
    bottom: 0;
    right: 0;
	padding: 5px;
	background-color: #000000;
	color: #fff;
  }
  