header {
	display: flex;
	align-items: center;
	justify-content: center;

}
/*
body {
    background: url('../imgs/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.nav {
	position: relative;
}

.nav__list {
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav__line {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20px;
	height: 1px;
	background-color: #000;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.nav__item:not(:last-child) {
	margin-right: 20px;
}

.nav__link {
	font-family: system-ui;
	text-decoration: none;
	color: #000;
}

footer {
	position: absolute;
    bottom: 0;
    right: 0;
	padding: 5px;
	background-color: #000000;
	color: #fff;
  }
  